// COLORS
    
//1. Header color
header
    //background: #793F5C
    //background: #9a073c
    background: #C02648

//2. Component Colors
    
.component-card 
    //background: #F2F2E6
    background: #E1E0E0

.sub-component-card
    background: #FFFFFF

.component-box
    //background: #F2F2E6
    background: #E1E0E0

.sub-component-box
    //background: #292939
    //background: #0b245b
    background: #2E364F


